.wrapper {
    display: grid;
    grid-template-columns: 21.4% 26% 26% 26%;
    grid-gap: 5px;
    background-color: rgba(244, 246, 249, 0.8);
    padding: 3px;
}

.wrapper>div {
    background-color: #ffffff;
    text-align: center;
    padding: 0 0 0 0;
}

.wrapper div p {
    text-align: center;
    margin: 70px 10px;
}

.aside {
    grid-row-start: 1;
    grid-row-end: 3;
}

@media (max-width:900px) {
    .wrapper {
        display: grid;
        grid-template-columns: 49.5% 49.5%;
        grid-gap: 4px;
        background-color: rgba(244, 246, 249, 0.8);
        padding: 3px;
    }
    .wrapper>div {
        background-color: #ffffff;
        text-align: center;
        padding: 0 0 0 0;
    }
    .wrapper div p {
        text-align: center;
        margin: 70px 10px;
    }
    .aside {
        grid-row-start: 1;
        grid-row-end: 3;
        order: 0;
    }
    .control {
        order: 1;
    }
    .item1 {
        order: 2;
    }
    .item2 {
        order: 3;
    }
    .item3 {
        order: 4;
    }
    .item4 {
        order: 5;
    }
    .item5 {
        order: 6;
    }
    .item6 {
        order: 7;
    }
    .item7 {
        order: 8;
    }
    .item8 {
        order: 9;
    }
    .item9 {
        order: 10;
    }
}

@media (max-width:600px) {
    .wrapper {
        display: grid;
        grid-template-columns: 100%;
        background-color: rgba(244, 246, 249, 0.8);
        padding: 3px;
    }
    .wrapper>div {
        background-color: #ffffff;
        text-align: center;
        padding: 0 0 0 0;
    }
    .wrapper div p {
        text-align: center;
        margin: 70px 10px;
    }
    .aside {
        grid-row-start: 1;
        grid-row-end: 4;
    }
}